.footer__contacts-heading {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  .footer__contacts-heading {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__contacts-heading {
    font-weight: 600;
    line-height: 30px;
  }
}