.feedback__subtitle {
  margin: 0 0 23px 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .feedback__subtitle {
    margin: 0 auto 37px auto;
    max-width: 690px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 1024px) {
  .feedback__subtitle {
    margin-bottom: 60px;
    max-width: 919px;
    font-size: 18px;
    line-height: 30px;
  }
}