.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 768px) {
  .footer__column-links {
    gap: 8px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__column-links {
    font-size: 14px;
    line-height: 19px;
  }
}